/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

div.dokuwiki {
  min-width: 400px;
  margin: 0 20px 0 20px;
  border: 0px solid __background_alt__;
}

/* -------------- top row --------------- */
div.dokuwiki .header {
  height: 80px;
  padding: 0px;
  background: __background__ url(images/bar.gif) repeat-x bottom;
  margin-bottom: 5px;
}

div.dokuwiki .linksone {
  border-right: 2px solid __border__;
  text-align: right;
  float: right;
  padding: 0 5px 0 5px;
  margin-top: 10px;
  height: 60px;
}

div.dokuwiki .linkstwo {
  float: right;
  padding: 0 5px 0 5px;
  margin-top: 10px;
  height: 60px;
}

div.dokuwiki .pageinfo a {
	font-style: italic;
	text-align: right;
	float: right;
	font-size: 75%;
	margin-right: 10px;
}

div.dokuwiki .pagename {
  float: left;
  font-size: 150%;
  font-weight: bolder;
  color: __background_alt__;
  vertical-align: middle;
  text-align: right;
  margin-right: 20px;
}

div.dokuwiki .pagename a {
  color: __extern__ !important;
  text-decoration: none !important;
}

div.dokuwiki .pagebuttons {
  float: left;
  margin-left: 20px;
}

div.dokuwiki .logo {
  font-size: 400%;
  font-weight: bolder;
  text-align: right;
  vertical-align: middle;
  margin-right: 20px;
}

div.dokuwiki .logo a {
  color: __background_alt__ !important;
  text-decoration: none !important;
  font-variant: small-caps;
  letter-spacing: 2pt;
}

div.dokuwiki .blackline {
  height: 5px;
  background-color: black;
  margin: 10px 0 10px 0;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  border-top: 1px solid __border__;
  border-bottom: 1px solid __border__;
  background: __background_alt__;
  padding: 0.1em 0.15em;
  clear: both;
}

div.dokuwiki .bar-left {
  float: left;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
}

div.dokuwiki #bar__bottom {
  margin-bottom:3px;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
/*  clear: both; */
  margin-top: 1em;
  color: __text_alt__;
  font-size: 70%;
}

div.dokuwiki div.meta div.user {
  float: left;
}

div.dokuwiki div.doc {
  background-color: __background_neu__;
  color: __text_neu__;
  font-size: 80%;
  text-align: right;
  margin-top: 10px;
}
